# For the purpose of this file, see:
# https://timvink.github.io/mkdocs-git-authors-plugin/mailmap.html
Christos Varelas <christos.varelas@citynetwork.eu>
Christos Varelas <christos.varelas@cleura.com>
Dmitriy Rabotyagov <dmitriy.rabotyagov@citynetwork.eu>
Dmitriy Rabotyagov <dmitriy.rabotyagov@cleura.com>
Eliott Trouillet <53047591+packettoobig@users.noreply.github.com>
Florian Haas <florian@citynetwork.eu>
Florian Haas <florian@cleura.com>
Foad Lind <foad.lind@citynetwork.eu>
Foad Lind <foad.lind@cleura.com>
Mateusz Guziak <mateusz.guziak@cleura.com>
Mateusz Guziak <skipper126@interia.pl>
Namrata Sitlani <namrata.sitlani@citynetwork.eu>
Namrata Sitlani <namrata.sitlani@cleura.com>
