# Configuration settings in this file should be ordered
# alphabetically.
---
copyright: >
  <a href="https://creativecommons.org/licenses/by-sa/4.0/">
  <img src="https://mirrors.creativecommons.org/presskit/buttons/80x15/svg/by-sa.svg"/>
  </a>
edit_uri: ./edit/main/docs
extra:
  brand: "Cleura"
  brand_domain: "citycloud.com"
  company: "Cleura"
  company_domain: "cleura.com"
  gui: "Cleura Cloud Management Console"
  gui_domain: "cleura.cloud"
extra_css:
  - assets/stylesheets/cleura-palette.css
markdown_extensions: []
plugins:
  - awesome-pages
  - git-authors:
      enabled: true
  - git-revision-date-localized:
      enable_creation_date: true
      enabled: true
      fallback_to_build_date: false
      locale: en
      timezone: Etc/UTC
      type: iso_date
  - htmlproofer:
      raise_error: true
      validate_external_urls: true
  - macros
  - pdf-export:
      enabled_if_env: DOCS_ENABLE_PDF_EXPORT
  - search
repo_url: https://github.com/citynetwork/docs
site_name: "Docs"
theme:
  custom_dir: theme
  favicon: assets/favicon.ico
  features:
    - navigation.indexes
  icon:
    repo: fontawesome/brands/github
  logo: assets/logo.png
  name: material
  palette:
    scheme: cleura
