# Configuration settings in this file should be ordered
# alphabetically.
---
copyright: >
  <a href="https://creativecommons.org/licenses/by-sa/4.0/">
  <img src="https://mirrors.creativecommons.org/presskit/buttons/80x15/svg/by-sa.svg"/>
  </a>
edit_uri: ./edit/main/docs
extra:
  brand: "Cleura"
  brand_domain: "citycloud.com"
  company: "Cleura"
  company_domain: "cleura.com"
  gui: "Cleura Cloud Control Panel"
  gui_domain: "cleura.cloud"
  support: "Service Center"
  support_domain: "servicecenter.citynetwork.eu"
extra_css:
  - assets/stylesheets/cleura-palette.css
markdown_extensions:
  - attr_list
  - pymdownx.emoji:
      emoji_generator: !!python/name:materialx.emoji.to_svg
      emoji_index: !!python/name:materialx.emoji.twemoji
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true
  - smarty
  - tables
plugins:
  - awesome-pages
  - git-authors:
      enabled: true
      show_email_address: false
  - git-revision-date-localized:
      enable_creation_date: true
      enabled: true
      fallback_to_build_date: false
      locale: en
      timezone: Etc/UTC
      type: iso_date
  - glightbox
  - htmlproofer:
      # yamllint disable-line rule:truthy
      enabled: !ENV [DOCS_ENABLE_HTMLPROOFER, True]
      raise_error: true
      validate_external_urls: true
  - macros
  - pdf-export:
      enabled_if_env: DOCS_ENABLE_PDF_EXPORT
  - search
repo_url: https://github.com/citynetwork/docs
site_name: "Docs (Beta)"
theme:
  custom_dir: theme
  favicon: assets/favicon.ico
  features:
    - navigation.indexes
  icon:
    repo: fontawesome/brands/github
  logo: assets/logo.png
  name: material
  palette:
    - media: "(prefers-color-scheme: light)"
      scheme: default
      toggle:
        icon: material/lightbulb-outline
        name: "Switch to dark mode"
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      toggle:
        icon: material/lightbulb
        name: "Switch to light mode"
