---
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: "Set up Python 3.14"
        uses: actions/setup-python@v5
        with:
          python-version: '3.14'
      - name: Install Python dependencies
        run: |
          pip install tox
      - env:
          DOCS_DEPLOY_DEFAULT_BRANCH: "kna1"
          GIT_COMMITTER_EMAIL: "${{ github.actor }}@users.noreply.github.com"
          GIT_COMMITTER_NAME: "${{ github.actor }}"
        name: Deploy to gh-pages
        run: |
          tox -e mike -- --push

name: deploy

'on':
  push:
    branches:
      - kna1
      - fra1
      - sto2
      - sto1hs
      - sto2hs
      - sto-com
